<style>
a.flink { border-bottom: dashed 1px black; cursor: pointer; }
</style>
<div class="g-row">
<div class="g-3"><h3>Time Reporting</h3></div>
<div class="g-9" style="text-align: right"><?just_reported_buttons?>&nbsp;<?/?></div>
</div>


<div class="g-row">
<div class="g-9"><?$just_reported?></div>
<div class="g-3">
<table width="100%" class="zebra">
    <thead>
        <tr><th colspan=2>Your Statistics</th></tr>
    </thead>
	<tbody>
		<tr class="odd">
			  <td>Hours This Week</td>
			  <td><?htw?>23<?/?></td>
		</tr>
		<tr class="even">
			  <td>Hours Today</td>
			  <td><?htd?>23<?/?></td>
		</tr>
	</tbody>
</table>
<h3>Hours Per Day</h3>
<img src="http://chart.googleapis.com/chart?cht=bvg&chs=220x150&chd=s:Monkeys&chxt=x,y&chxs=0,ff0000,12,0,lt|1,0000ff,10,1,lt"/>

</div>
</div>
<div class="g-row">
<div class="g-6"><?$dev_stats?></div>
</div>

<div class="g-row">
<div class="g-7"><?$open_budgets?></div>
<div class="g-7"><?$incomplete_tasks?></div>
</div>
