<div id="<?$_name?>" class="g-row page_<?$_page?>">
  <div class="g-5">

    <h2>Projects</h2>
   <?$Projects?>

   <!--
   <div style="width: 200px; float: left">
   <h3>bt01 - Gradpool.ie</h3>
   <p>This is blah blahThis is blah blahThis is blah blahThis is blah blahThis is blah blahThis is blah blahThis is blah blahThis is blah blahThis is blah blahThis is blah blahThis is blah blah</p>

   </div>

   <div style="width: 200px; float: left">
   <h3>bt01 - Gradpool.ie</h3>
   <p>This is blah blahThis is blah blahThis is blah blahThis is blah blahThis is blah blahThis is blah blahThis is blah blahThis is blah blahThis is blah blahThis is blah blahThis is blah blah</p>

   </div>
   -->

   <div class="clear"></div>

  
  </div>
  <div class="g-5">
  <h3>IMPORTANT!</h3>
  <p>Our project development requires your feedback as well as to provide us with information and other assets.
  For your conveinence, all items requiring your attention is listed below:</p>

  <?$Todo?>

  </div>
</div>
