<div id="<?$_name?>" class="g-row page_<?$_page?>">
  <div class="g-5">

    <h2><a href="<?page?>home<?/?>">Projects</a> &raquo; <?$name?></h2>

    <div class="g-row">
      <div class="g-5">Demo: <a href="<?$demo_url?>"><?demo_url?>?<?/?></a></div>
      <div class="g-5" style="text-align: left">Production: <a href="<?$prod_url?>"><?plrod_url?>?<?/?></a></div>
    </div>

    <h2>Jobs In Development</h2>

    <?$Content?>

    <?Budget?>

    <h4><?name?>Design of User Interface (Quote #10023)<?/?></h4>
    <div style="border-left: 1px dashed gray; padding-left: 10px"><table width="100%">
        <tr>
          <td>Amount: £<?amount?>4,200.00<?/?> (£<?paid?>0.00<?/?> paid)</td>
          <td><img width="100" height="20" src="http://chart.googleapis.com/chart?cht=bhs&amp;chs=100x20&amp;chd=t:50|100&amp;chco=4d89f9,c6d9fd&amp;chbh=10">&nbsp;50%</td>
          <td><a href="" style="float: left">Agreed Specification</a></td>
          </tr><tr>
          <td>Status: <?status?><font color="green">In development</font><?/?></td>
          <td><img width="100" height="20" src="http://chart.googleapis.com/chart?cht=bhs&amp;chs=100x20&amp;chd=t:35|100&amp;chco=4d89f9,c6d9fd&amp;chbh=10">&nbsp;35%</td>
          <td><a href="" style="float: left">Agreed Timeline</a></td>
          </tr><tr>
          <td>Deadline: <?deadline?>15 April 2020 (+11 wd)<?/?></td>
          <td><img width="100" height="20" src="http://chart.googleapis.com/chart?cht=bhs&amp;chs=100x20&amp;chd=t:40|100&amp;chco=4d89f9,c6d9fd&amp;chbh=10">&nbsp;40%</td>
          <td><a href="" style="float: left">Agreed Wireframe</a></td>
        </tr>
      </table>
      <h4>Notes:</h4>
      <b><i class="atk-icon atk-icons-red atk-icon-basic-exclam"></i>Project Behind Schedule</b>, 
      <b><i class="atk-icon atk-icons-red atk-icon-basic-exclam"></i>Urgent Feedback Required</b>

    </div>

    <?/?>

    <h2>Quotations</h2>

    <div class="g-row">

      <div class="g-5" style="padding-bottom: 20px">
        <h4>Reference: #10023 (Total £700.00)</h4>
        <div style="border-left: 1px dashed gray; padding-left: 10px">
          <table width="100%">
            <tr><th>Seciton</th><th>Cost</th></tr>
            <tr><td>Design of 25 pages</td><td>£500.00</td></tr>
            <tr><td>Installation</td><td>£100.00</td></tr>
            <tr><td>Q/A</td><td>£100.00</td></tr>
          </table>
          <a href="<?$demo_url?>">Show Feature Breakdown</a><br/>
          <b>Quote Expries</b>: 04/01/2012
        </div>
      </div>


    </div>


    </div>
    <div class="g-5">
      <h2>More Work?</h2>
      <p>Looking to do more work on <?$name?>? We've got just the team. Briefly describe task below and we will get in touch.</p>
      <?$MoreWork?>

      <h2>Completed Jobs</h2>

      <?Completed?>

      <h4><?naime?>Setting up Newsletter Page<?/?></h4>
      <div style="border-left: 1px dashed gray; padding-left: 10px"><table width="100%">
          <tr>
            <td>Amount: £500 (£350 paid)</td>
            <td><img width="100" height="20" src="http://chart.googleapis.com/chart?cht=bhs&amp;chs=100x20&amp;chd=t:70|100&amp;chco=4d89f9,c6d9fd&amp;chbh=10">&nbsp;70%</td>
            <td><a href="" style="float: right">Agreed Specification</a></td>
            </tr><tr>
            <td>Status: <?status?><font color="red">Waiting for Client Acceptance</font>
      <i class="atk-icon atk-icons-red atk-icon-basic-exclam"></i>
              
              <?/?></td>
            <td><img width="100" height="20" src="http://chart.googleapis.com/chart?cht=bhs&amp;chs=100x20&amp;chd=t:100|100&amp;chco=fd0909,c6d9fd&amp;chbh=10">&nbsp;100%</td>
            <td><a href="" style="float: right">Agreed Timeline</a></td>
            </tr><tr>
            <td>Completed: <?deadline?>15 April 2020 (-3 wd)<?/?></td>
            <td><img width="100" height="20" src="http://chart.googleapis.com/chart?cht=bhs&amp;chs=100x20&amp;chd=t:87|100&amp;chco=4d89f9,c6d9fd&amp;chbh=10">&nbsp;87%</td>
            <td><a href="" style="float: right">Agreed Wireframe</a></td>
          </tr>
        </table>

        <hr/>
        <div class="g-row">

          <div class="g-5">
            <h4>Installation Instructions</h3>
            <a href="">Read Instructions</a>,
            <a href="">Download Source</a>
          </div>
          <div class="g-5">
            <h4>Warranty (ends 12/02/2012)</h3>
            <a href="">Report a Fault</a>
          </div>
        </div>

      </div>

      <?/?>


    </div>
  </div>
